.ujg-timesheet {
	margin: 0px;
	padding: 10px;
	position: relative;
	overflow: auto;
	color: #333;
	font-size: 12px;
}

.ujg-timesheet table {
	width: 100%;
	border-collapse: collapse;
}

.ujg-timesheet table th {
	border: 1px solid #eee;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	vertical-align: center;
}

.ujg-timesheet table td {
	border: 1px solid #f0f0f0;
	padding: 1px 2px;
	text-align: center;
}

.ujg-timesheet table td:first-child {
	white-space: nowrap;
	text-align: left;
}

.ujg-timesheet table td:nth-child(2) {
	font-weight: bold;
}

.ujg-timesheet table td:nth-child(n+3) {
	font-weight: bold;
	color: #777;
}

.ujg-timesheet table tr:nth-child(n+2):hover {
	background: #e0e3e5;
}

.ujg-timesheet table tr.odd {
	background: #FAFAFA;
}

.ujg-timesheet table tr.total td {
	font-weight: bold;
	color: #333;
}