.ujg-panel {
  margin: 0;
  border: 0;
}

form.aui.ujg-settings-form {
  margin: 0;
  padding: 10px;
  line-height: 1;
}

form.aui.ujg-settings-form input.text, form.aui.ujg-settings-form textarea.text {
  width: 90%;
  max-width: none;
}

form.aui.ujg-settings-form textarea.text {
  height: 50px;
}

/* keep new lines for messages */
.ujg-panel .aui-message {
  white-space: pre-wrap;
}

.progress-indicator-cust {
  padding: 15px 0;
}
/* custom styles for progrress indicator */
.progress-indicator-cust .aui-progress-indicator {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 206px;
  height: 11px;
  margin: auto;
}

.aui-progress-indicator-value.progress-indicator-value-cust {
  height: 11px;
}