body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857142857143;
  color: #333;
}

h1 {
  padding: 10px 0 0 5px;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  padding: 5px 0 0 0;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin: 15px 0 0 0;
}

a {
  color: #3b73af;
  text-decoration: none;
}

#header {
  background-color: #205081;
  margin-left: 320px;
  padding: 5px 0 5px 20px;
  color: #fff;
}

#menu {
  padding: 20px;
  background-color: #f5f5f5;
  width: 280px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  left: 0px;
  top: 0px;
}

#menu #left {
  width: 50px;
  float: left;
}

#menu #right {
  margin-left: 50px;
  height: 50px;
}

#menu ul {
  border-top: 0;
  margin: 20px 0 0 0;
  padding: 0;
}

#menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aui-navgroup-vertical .aui-nav .aui-nav-selected a {
  color: #333;
  font-weight: bold;
}

.aui-navgroup-vertical .aui-nav>li>a {
  color: #3b73af;
  display: block;
  padding: 7px 10px;
  line-height: 1.14285714285714;
  word-wrap: break-word;
}

.aui-navgroup-vertical .aui-nav>li>a:hover,.aui-navgroup-vertical .aui-nav>li>a:active
  {
  background-color: #ddd;
}

.aui-navgroup-vertical .aui-nav>li>a.sub-menu {
  padding-left: 20px;
}

#main {
  background-color: #fff;
  padding: 20px;
}

#main.with-menu {
  margin-left: 320px;
  top: 0px;
}

.menu-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle
}